table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

th {
    background-color: #f2f2f2;
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}


tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #ddd;
}

h1, h2 {
    font-family: Arial, sans-serif;
    color: #333;
    margin-bottom: 10px;
}
